@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Force reload */
  :root {
    /* Fern Green -> Deep Blue */
    --color-fern-green: 215 65% 33%;
    --color-fern-green-default: 215 65% 33%;
    --color-fern-green-contrast: 215 65% 40%;

    /* Sage / Moon Mist -> Slate Blue */
    --color-sage-green: 209 26% 49%;
    --color-sage-green-default: 209 26% 49%;
    --color-sage-green-contrast: 209 26% 40%;
  }
}

/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/montserrat-v25-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("/fonts/montserrat-v25-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/montserrat-v25-latin-500italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("/fonts/montserrat-v25-latin-500italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/montserrat-v25-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("/fonts/montserrat-v25-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-900 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/montserrat-v25-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("/fonts/montserrat-v25-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-size: 10px;
  @apply bg-mint-cream;
}

body {
  @apply font-montserrat text-fern-green text-14 leading-18;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  ::selection {
    text-shadow: none;
    background-color: #2E86AB;
    /* Malibu Blue */
    color: #ffffff;
  }
}

/* Links override */
a {
  position: relative;
}

.no-link {
  &:hover {
    border-bottom: inherit;
  }
}

.arrow-link {
  @apply inline-flex gap-12;
  @apply text-12 leading-11 xs:text-16 xs:leading-16 font-black;
  color: #1617C6;
  /* Royal Blue */
  @apply no-underline lowercase;

  &>span {
    z-index: 1;

    span {
      padding-bottom: 0.2rem;
      line-height: 1.7rem;
      border-bottom: 1px solid;

      @screen xs {
        padding-bottom: 0.3rem;
        line-height: 2.37rem;
      }
    }
  }

  svg {
    transform-origin: 50%;
    transform: translate3d(0px, 0, 0);
    transition: transform 0.2s ease;
  }

  &:hover {
    svg {
      transform: translate3d(7px, 0, 0);
    }
  }
}

a.link,
button.link {
  position: relative;
  display: inline-block;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    border-bottom: 1px solid transparent;
    display: block;
    position: absolute;
    bottom: -4px;
    left: 0;
  }

  &:hover:before {
    border-bottom: 1px solid;
  }
}

.inline-link {
  position: relative;
  display: inline-block;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom: 1px;
    border-bottom: 1px solid;
    left: 0;
    transition: transform 0.25s ease;
    transform: translateY(0);
  }

  &:hover:before {
    transform: translateY(1px);
  }
}

.button-link {
  @apply relative;
  @apply inline-flex gap-12;
  @apply text-12 leading-11 xs:text-16 xs:leading-16 font-black;
  color: #1617C6;
  /* Royal Blue */
  @apply no-underline lowercase;
  @apply py-15 px-22 xs:py-22 xs:px-43;

  span {
    z-index: 1;
  }

  svg {
    transform-origin: 50%;
    transform: translate3d(0px, 0, 0);
    transition: transform 0.2s ease;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @apply bg-white py-15 px-22;
    transform-origin: 50%;
    transform: translate3d(3px, 3px, 0);
    transition: transform 0.2s ease;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @apply py-15 px-22;
    @apply border-fern-green border;
    transform-origin: 50%;
    transform: translate3d(-3px, -3px, 0);
    transition: transform 0.2s ease;
  }

  &:hover {
    svg {
      transform: translate3d(7px, 0, 0);
    }

    &::before {
      transform: translate3d(6px, 6px, 0);
      border-bottom: none;
    }

    &::after {
      transform: translate3d(-6px, -6px, 0);
    }
  }

  /* Variants */
  &--alt {
    &::before {
      @apply bg-mint-cream;
    }
  }
}

.wrapper {
  padding-left: 3rem;
  padding-right: 3rem;
  @apply mx-auto;

  @screen lg {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @screen wide {
    max-width: 118rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.with-card {
  padding-bottom: 13rem;

  @screen xs {
    padding-bottom: 15rem;
  }
}

/* NOTE: Are we downloading twice when not needed? */
/* NOTE: image-set where r throu https://drafts.csswg.org/css-images-4/ */
.texture-blue {
  background-image: url("/img/bg-blue_half.jpg");
  background-image: url("/img/bg-blue_half.webp");
  background-size: cover;
  background-position: 0 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.texture-pipin {
  position: relative;
  overflow: hidden;
  color: #1617C6;
  /* Royal Blue */
  /* Royal Blue text */

  /* Let's move all of this to its own stacking context for scroll perf */
  &::before {
    content: " ";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("/img/dots.svg");
    background-size: auto;
    background-position: 0 0;
    background-repeat: repeat;
    will-change: transform;
    z-index: -1;
    @apply bg-mint-cream;
    /* Ensure light blue background */
  }

  &>* {
    position: relative;
    z-index: 1;
  }
}

main>article>section:first-of-type {
  padding-top: 13rem;
}

/* Merci Kolin */
.is-visible {
  .stagger {
    transition: transform 0.9s cubic-bezier(0.22, 0.61, 0.36, 1),
      opacity 0.7s linear;
    opacity: 1;
    transform: translateZ(0);

    &--delay-1 {
      transition-delay: calc(1 * 120ms);
    }

    &--delay-2 {
      transition-delay: calc(2 * 120ms);
    }

    &--delay-3 {
      transition-delay: calc(3 * 120ms);
    }

    &--delay-4 {
      transition-delay: calc(4 * 120ms);
    }
  }

  .reveal {
    transition: transform 0.9s cubic-bezier(0.22, 0.61, 0.36, 1),
      opacity 0.7s linear;
    opacity: 1;
    transform: translateZ(0);
  }
}

.stagger {
  opacity: 0.001;
  transform: translate3d(0, 20vh, 0);
}

.reveal {
  opacity: 0.001;
  transform: translate3d(0, 5vh, 0);
}