*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*:focus:not(.focus-visible) {
  /* outline: none; */
}

@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    transition: none !important;
    animation: none !important;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  display: block;
  appearance: none;
  border: none;
}
