.h1 {
  @apply text-40 leading-40 font-black;

  @screen xs {
    @apply text-60 leading-60;
  }
}

.h2 {
  @apply text-25 leading-25 font-black;

  @screen xs {
    @apply text-35 leading-35;
  }
}

.h3 {
  @apply text-12 leading-16 font-black uppercase tracking-widest;

  @screen xs {
    @apply text-18 leading-22;
  }
}

.text {
  @apply text-12 leading-16;

  @screen xs {
    @apply text-18 leading-25;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-balance;
}

p {
  @apply text-pretty;
}
